.wrapper__chat-main
  .wrapper__chat-main__group-infor
    %ul.wrapper__chat-main__group-infor__group-all
      %li.wrapper__chat-main__group-infor__group-all__name
        = @group.name
      %li.wrapper__chat-main__group-infor__group-all__member
        Member:
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group) , class: "wrapper__chat-main__group-infor__edit-btn"
  .wrapper__chat-main__message-list
    = render @messages
  = form_for [@group, @message], html: { class: "wrapper__chat-main__message-for" } do |f|
    .wrapper__chat-main__message-for__left-box
      = f.text_field :content, class: "wrapper__chat-main__message-for__left-box__text", placeholder: "type a message"
      .wrapper__chat-main__message-for__left-box__box
        = f.label :image, class: "wrapper__chat-main__message-for__left-box__box__form" do
          = icon("fas", "image", class: "wrapper__chat-main__message-for__left-box__box__form__image")
          = f.file_field :image, class: "wrapper__chat-main__message-for__left-box__box__form__hidden"
    = f.submit "Send", class: "wrapper__chat-main__message-for__send-btn"
