.wrapper__side-bar
  .wrapper__side-bar__user-name
    .wrapper__side-bar__user-name__top-items 
      .wrapper__side-bar__user-name__top-items__name #{current_user.name}
      .wrapper__side-bar__user-name__top-items__icons
      = link_to new_group_path(current_user), class: "wrapper__side-bar__user-name__top-items__btn--fa-pen-square" do
        = icon("fas", "pen-square", class: "wrapper__side-bar__user-name__top-items__btn--icon")
      = link_to edit_user_path(current_user), class: "wrapper__side-bar__user-name__top-items__btn--fa-cog" do
        = icon("fas", "cog", class: "wrapper__side-bar__user-name__top-items__btn--icon")
  .wrapper__side-bar__group-list
    .wrapper__side-bar__group-list__top-items
    .wrapper__side-bar__group-list__second-items